body{
  font-size: 0.9rem;
  font-family: Source serif pro;
}

.primary-blue{
  background-color: #56d0ff;
}

.text-transition-aboutus{
  transition: widtd 2s;
}
.header-text-on-white{
  color: #56d0ff;
  /* text-transform: full-width; */
  /* opacity: 87%; */
}
.body-text-on-white{
  color: #000000;
  opacity: 60%;
}
.header-text-on-blue{
  color: white;
  /* text-transform: full-width; */
  /* opacity: 87%; */
}
.body-text-on-blue{
  color: #000000;
  opacity: 60%;
}
.heading-text{
  color: #56d0ff;
  font-size: 2rem;
  font-weight: bolder;
  transition: opacity 400ms;
}
